{% extends '../../store/base.html' %} {% block title %} Reset Confirm 
{% endblock %} 
{% block content %} 
{% load static %}

<style>
  .login, .image {
    min-height: 100vh;
  }

  .bg-image {
    background-image: url({% static 'logonomy-1670227554451.jpeg' %});
    background-size: cover;
    background-position: center center;
  }

  .container-fluid {
    max-width: 100%;
  }

  .account-form input {
    border: 2px solid #ccc;
    height: calc(2em, 0.75rem + 2px);
  }

  .account-form input:focus {
    border-color: #1497ff;
    box-shadow: none;
  }
</style>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-item-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
              <form class="account-form p-4" method="post">
                <p class="h3 mb-4 font-weight-bold">Forgotten Your Password</p>
                <p>Enter Your New Email Address to Obtain New Email Address</p>

                {% if form.errors %}
                  <div class="alert alert-primary" role="alert">
                    Error: Please Try Again
                  </div>
                {% endif %}
                {% csrf_token %}
                <label class="small font-weight-bold"
                  >{{ form.password1.label }}</label
                >
                {{ form.new_password1 }}
                <label class="small font-weight-bold"
                  >{{ form.password2.label }}</label
                >
                {{ form.new_password2 }}
                <ul>
                  <li>
                    Your Password Cant Be Too Similiar To Your Other Information
                  </li>
                  <li>Your Password Must Contain at Least 8 Characters</li>
                  <li>Your Password Cant Be a commonly used Password</li>
                  <li>Your Password Cant Be Entirely Numeric</li>
                </ul>
                <button
                  type="submit"
                  class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100"
                >
                  reset
                </button>
              </form>
              <p class="text-center">
                  <a href="{% url 'account:login' %}">Login</a>
                </p>
              <p class="small text-center pt-4">
                <a href="{% url 'account:login' %}"
                  >Already Have An Account? Login</a
                >
              </p>
              <p class="small text-center pt-4">
                <a href="{% url 'account:register' %}"
                  >Dont Have An Account? Signup
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-none d-md-flex bg-image"></div>
</div>

{% endblock %}
