<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} DarbandShop {% endblock %}</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{% static 'store/css/bootstrap.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'basket/basket.css' %}">
    <script src="{% static 'store/js/jquery-3.6.4.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
    <title>Home</title>
  </head>
  <body>
    <header class="pb-3">
      <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
        <div class="container-fluid px-md-4">
          <div class="d-flex w-100 navbar-collapse">
            <a href="/" class="navbar-brand d-flex-inline">
              <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg width="20" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 11.75C19.8376 11.7507 19.6795 11.698 19.55 11.6L12 5.94L4.45 11.6C4.29087 11.7193 4.09085 11.7706 3.89394 11.7425C3.69702 11.7143 3.51935 11.6091 3.4 11.45C3.28066 11.2909 3.22941 11.0908 3.25754 10.8939C3.28567 10.697 3.39087 10.5193 3.55 10.4L11.55 4.4C11.6798 4.30263 11.8377 4.25 12 4.25C12.1623 4.25 12.3202 4.30263 12.45 4.4L20.45 10.4C20.5952 10.5179 20.6911 10.6859 20.7189 10.8709C20.7466 11.0559 20.7042 11.2446 20.6 11.4C20.5363 11.503 20.4482 11.5888 20.3436 11.6498C20.239 11.7108 20.121 11.7452 20 11.75Z" fill="#000000"/>
                  <path d="M18 19.75H6C5.80189 19.7474 5.61263 19.6676 5.47253 19.5275C5.33244 19.3874 5.25259 19.1981 5.25 19V9.5C5.25 9.30109 5.32902 9.11032 5.46967 8.96967C5.61032 8.82902 5.80109 8.75 6 8.75C6.19891 8.75 6.38968 8.82902 6.53033 8.96967C6.67098 9.11032 6.75 9.30109 6.75 9.5V18.25H17.25V9.5C17.25 9.30109 17.329 9.11032 17.4697 8.96967C17.6103 8.82902 17.8011 8.75 18 8.75C18.1989 8.75 18.3897 8.82902 18.5303 8.96967C18.671 9.11032 18.75 9.30109 18.75 9.5V19C18.7474 19.1981 18.6676 19.3874 18.5275 19.5275C18.3874 19.6676 18.1981 19.7474 18 19.75Z" fill="#000000"/>
                  <path d="M14 19.75C13.8019 19.7474 13.6126 19.6676 13.4725 19.5275C13.3324 19.3874 13.2526 19.1981 13.25 19V12.75H10.75V19C10.75 19.1989 10.671 19.3897 10.5303 19.5303C10.3897 19.671 10.1989 19.75 10 19.75C9.80109 19.75 9.61032 19.671 9.46967 19.5303C9.32902 19.3897 9.25 19.1989 9.25 19V12C9.25259 11.8019 9.33244 11.6126 9.47253 11.4725C9.61263 11.3324 9.80189 11.2526 10 11.25H14C14.1981 11.2526 14.3874 11.3324 14.5275 11.4725C14.6676 11.6126 14.7474 11.8019 14.75 12V19C14.7474 19.1981 14.6676 19.3874 14.5275 19.5275C14.3874 19.6676 14.1981 19.7474 14 19.75Z" fill="#000000"/>
                </svg>
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item dropdown">
                <a role="button" data-bs-toggle="dropdown" aria-expanded="false" href="" class="nav-link dropdown-toggle d-none d-md-block fw500" id="navbarDropdown">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                </a>
                <ul class="dropdown-menu rounded-0 border-0" aria-labelledby="navbarDropdown">
                  <li><a href="{% url 'store:home' %}" class="dropdown-item">All</a></li>
                  {% for c in categories %}
                    <li{% if category.slug == c.slug %} class="selected" {% endif %}>
                      <a href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse" aria-label="Toggle navigation" aria-controls="#navbarCollapse" aria-expanded="false">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                <span class="fs15 fw500"> Shop </span>
              </div>
            </button>
            <div>
              <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle text-reset">
                      <div class="small text-muted">Hello
                        
                        {% if user.is_authenticated %}
                            {{request.user.name}}
                        {% else %}
                          Login
                        {% endif %}
                          
                      </div>
                      <span class="fs15 fw500"> Account &amp; Lists</span>
                    </a>
                    <div class="dropdown-menu rounded-0">
                      <div class="card border-0">
                        <div class="card-body">
                          <h6 class="card-title">
                            <ul class="list-group list-group-flush dropdown-account-link">
                              {% if user.is_authenticated %}
                                  <a href="{% url 'account:dashboard' %}" class="text-reset small list-group-item b-0 pb-1 dropdown-account-link">Your Account</a>
                                  <a href="#" class="text-reset small list-group-item b-0 pb-1 dropdown-account-link">Orders</a>
                                  <a href="{% url 'account:logout' %}" class="text-reset small list-group-item b-0 pb-1 dropdown-account-link">Logout</a>
                              {% else %}
                                  <a href="" class="text-reset small list-group-item b-0 pb-1 dropsown-account-link">Login</a>
                                Login
                              {% endif %}
                            </ul>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <a href="{% url 'basket:basket_summary' %}" role="button" type="button" class="btn btn-outline-secondary border-0 basket-btn">
              {% with total_qty=basket|length  %}
                <div id="basket-qty" class="basket-qty">
                  {% if total_qty > 0 %}
                    {{ total_qty }}
                  {% else %}
                    0
                  {% endif %}
                </div>
              {% endwith %}
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              </div>
              <span class="fs15 fw500">Basket</span>
            </a>
          </div>
          <div class="d-md-none d-lg-none d-xl-none">
            <div class="collapse navabr-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li><a href="{% url 'store:home' %}" class="dropdown-item">All</a></li>
                  {% for c in categories %}
                    <li{% if category.slug == c.slug %} class="selected" {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                </li>
                  {% endfor %}
              </ul>
              <h6 class="card-title">
                <ul class="list-group list-group-flush dropdown-account-link">
                  
                  {% if user.is_authenticated %}
                    <a href="{% url 'account:dashboard' %}" class="dropdown-item">Your Account</a>
                    <a href="#" class="dropdown-item">Orders</a>
                    <a href="{% url 'account:logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                    <a href="{% url 'account:logout' %}" class="dropdown-item">Login</a>
                  {% endif %}
                    
                </ul>
              </h6>
            </div>
          </div>
          <form class="d-flex w-100 d-md-none">
            <input class="form-control me-2" type="search" placeholder="Search Products or FAQ" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <div id="content">{% block content %}{% endblock %}</div>
    <footer class="container py-5 footer">
      <div class="row">
        <div class="col-12 col-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="d-block mb-2"
            role="img"
            viewBox="0 0 24 24"
          >
            <title>Product</title>
            <circle cx="12" cy="12" r="10"></circle>
            <path
              d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
            ></path>
          </svg>
          <small class="d-block mb-3 text-muted">© 2017–2022</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Cool stuff</a></li>
            <li><a class="link-secondary" href="#">Random feature</a></li>
            <li><a class="link-secondary" href="#">Team feature</a></li>
            <li><a class="link-secondary" href="#">Stuff for developers</a></li>
            <li><a class="link-secondary" href="#">Another one</a></li>
            <li><a class="link-secondary" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Resource name</a></li>
            <li><a class="link-secondary" href="#">Resource</a></li>
            <li><a class="link-secondary" href="#">Another resource</a></li>
            <li><a class="link-secondary" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Business</a></li>
            <li><a class="link-secondary" href="#">Education</a></li>
            <li><a class="link-secondary" href="#">Government</a></li>
            <li><a class="link-secondary" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Team</a></li>
            <li><a class="link-secondary" href="#">Locations</a></li>
            <li><a class="link-secondary" href="#">Privacy</a></li>
            <li><a class="link-secondary" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
