{% extends "../store/base.html" %}
{% load static %}
{% block title %} Basket Summary {% endblock %}
{% block content %}
<main class="pt-5">
        <div class="container" style="max-width: 1000px">
                <div class="col-12">
                        <h1 class="h2"> Your Basket </h1>
                </div>
                <div class="col-12">
                        <p>Manage your <b>items</b> in Your basket</p>
                </div>
                <hr />
        </div>
        <div class="container" style="max-width:1000px">
                <div class="row g-3">
                        <div class="col-12 bg-light p-3 d-flex justify-content-between">
                                <div class="d-flex d-flex-inline">
                                        <div class="pe-3">Order</div>
                                        <div class="dropdown open">
                                                <a type="button" class="text-decoration-none text-dark" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                Shipping Options
                                                                        
                                        </a>
                                                <div class="dropdown-menu" aria-labelledby="triggerId">
                                                        <li class="item-small rounded-3">Next day Delivery</li>
                                                        <li class="item-small rounded-3">Premium Delivery</li>
                                                </div>
                                        </div>
                                </div>
                                <div class="text-end">
                                        <div> Subtotal: <span class="fw-bold">$</span><div id="subtotal">{{basket.get_subtotal_price}}</div></div>
                                        <div id="">Shipping <span class="small">(Next Day Delivery)</span>: <span class="fw-bold">price</span></div>
                                        <div class="pt-2">Total To Pay: <span class="fw-bold h-5">$</span><span id="total" class="fw-bold h5">{{ basket.get_total_price }}</span></div>
                                </div>
                        </div>
                        <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
                                <div class="d-grid gap-2">
                                        <a role="button" class="btn btn-success fw-bold">Checkout</a><!-- href="{ 'payment:basket' }" -->
                                        <button class="btn btn-light" type="button">Save for Next Time</button>
                                </div>
                        </div>
                        <div class="col-md-7col-lg-8 p-0">
                                {% for item in basket %}
                                        {% with product=item.product %}
                                                <div class="card mb-3 border-0 product-item" data-index="{{product.id}}">
                                                        <div class="row g-0">
                                                                <div class="col-md-2 d-none d-md-block">
                                                                        <img src="{{product.image.url}}" alt="responsive image" class="img-fluid mx-auto d-block">
                                                                </div>
                                                                <div class="col-md-10 ps-md-3">
                                                                        <div class="card-body p1">
                                                                                <a href="{{item.product.get_absolute_url}}" class="text-decoration-none text-reset">
                                                                                        <p class="card-text pb-3">{{product.title}}</p>
                                                                                </a>
                                                                                <label for="select">Qty</label>
                                                                                <select id="select{{product.id}}" style="width: 50px;height: 31px;">
                                                                                        <option value="" selected disabled hidden>{{item.qty}}</option>
                                                                                        <option value="">1</option>
                                                                                        <option value="">2</option>
                                                                                        <option value="">3</option>
                                                                                        <option value="">4</option>
                                                                                </select>
                                                                                <a type="button" id="update-button" data-index="{{product.id}}" class="update-button text-decoration-none">Update</a>
                                                                                <a type="button" id="delete-button" data-index="{{product.id}}" class="update-button text-decoration-none">Delete</a>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        {% endwith %}
                                {% endfor %}
                        </div>
                </div>
        </div>
</main>
<script>
        // Delete Department
        $(document).on("click", ".delete-button", function (e) {
                var period = $(this).data('index');
                e.preventDefault();
                $.ajax({
                        type: "POST",
                        url: "{% url 'basket:basket_delete' %}",
                        data: {
                                productid: $(this).data("index"),
                                csrfmiddlewaretoken: "{{csrf_token}}",
                                action: 'post'
                        },
                        success: function (json) {
                                $('.product-item[data-index="' + period +'"]').remove()
                                $("#subtotal").html(json.subtotal)
                                $("#basket-qty").html(json.qty);
                        },
                        error: function (xhr, err, errMsg) {
                                alert("an error has occured")
                        }
                });
        })

        // Update Department
        $(document).on("click", ".update-button", function (e) {
                var period = $(this).data('index');
                e.preventDefault();
                $.ajax({
                        type: "POST",
                        url: "{% url 'basket:basket_update' %}",
                        data: {
                                productid: $(this).data("index"),
                                productqty: $('#select' + period + ' option:selected').text(),
                                csrfmiddlewaretoken: "{{csrf_token}}",
                                action: 'post'
                        },
                        success: function (json) {
                                $("#subtotal").html(json.subtotal)
                                $("#basket-qty").html(json.qty);
                                
                        },
                        error: function (xhr, err, errMsg) {
                                alert("an error has occured")
                        }
                });
        })
</script>
{% endblock %}