{% extends '../store/base.html' %} {% block title %} Reset Confirm 
{% endblock %} 
{% block content %} 
{% load static %}

<style>
  .account-form input {
    border: 2px solid #ccc;
    height: calc(2em, 0.75rem + 2px);
  }

  .form-control {
    border: 2px solid #ccc;
  }

  .account-form input:focus {
    border-color: #1497ff;
    box-shadow: none;
  }
</style>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-item-center py-5">
        <div class="container">
          <div class="row">
            <div id="payment-form" class="col-12 col-lg-6 mx-auto">
              <h3 class="mb-3">Billing Address</h3>
              <!-- Errors Element -->
              <div id="card-errors" class="alert alert-danger d-none" role="alert"></div>
                <form>
                  <div class="row g-3">
                    <div class="col-sm-7">
                        <label for="firstname" class="form-label">Customer Name</label>
                        <input type="text" class="form-control" id="custName" placeholder="" required>
                        <div class="invalid-feedback">Valid First Name Is Required</div>
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email
                            <span class="text-muted">( Optional )</span>
                        </label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">Valid Email Address Is Required For Shipping Updates</div>
                    </div>
                    <div class="col-12">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="custAdd" placeholder="1234 main st" required>
                        <div class="invalid-feedback"> Please Enter Your Shipping Address</div>
                    </div>
                    <div class="col-12">
                        <label for="address2" class="form-label">Address 2 <span class="text-muted"> ( Optional ) </span></label>
                        <input type="text" class="form-control" id="custAdd2" placeholder="Apartment or Suite" required>
                        <div class="invalid-feedback"> Please Enter Your Shipping Address</div>
                    </div>
                    <div class="col-md-5">
                        <label for="country" class="form-label">Country</label>
                        <select id="country" class="form-select">
                            <option value="">Choose ...</option>
                            <option value="">United States</option>
                        </select>
                        <div class="invalid-feedback"> Please Select a Valid Country</div>
                    </div>
                    <div class="col-md-4">
                        <label for="state" class="form-label">State</label>
                        <select id="state" class="form-select">
                            <option value="">Choose ...</option>
                            <option value="">Michigan</option>
                        </select>
                        <div class="invalid-feedback"> Please Select a Valid State</div>
                    </div>
                    <div class="col-md-3">
                        <label for="Postcode" class="form-label">Postcode</label>
                        <input type="text" class="form-control" id="postcode" placeholder="" required>
                        <div class="invalid-feedback"> Zipcode is Required </div>
                    </div>
                    <hr class="my-4">
                    <h4 class="mb-3">Payment</h4>
                    <label for="card-element"> Credit or Debit Card </label>
                    <textarea id="card-element" class="form-control w-100 fw-bold">
                      {% comment %} <!-- payment elements will appear here --> {% endcomment %}
                    </textarea>
                    <button id="submit" class="btn btn-primary w-100 fw-bold"> Pay </button>
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Make Our CSRF Token Avaiable in JS File
  var CSRF_TOKEN = "{{ csrf_token }}"
</script>
<script src="{% static 'payment/index.js' %}" data-rel-js=""></script>

{% endblock %}
